# Ignore Cargo build artifacts
**/target/*

# Ignore Docker related files
Dockerfile
.dockerignore

# Ignore Git files and directories
.git/
.gitignore

# Ignore development files
README.md
*.log
*.rs.bk

# Ignore tests files
**/tests/*
**/data/*

**/*.env
**/*.env.same
