google_service_account=test_account
mq_url=amqp://guest:guest@localhost:567
infura_token=infura_token
cloud_bucket=cloud_bucket
local_storage=local_storage
redis_uri=redis_uri
infura_mainnet_rpc=infura_mainnet_rpc
etherscan_api_key=etherscan_api_key
infura_mainnet_ws=infura_mainnet_rpc
local_mainnet_rpc=local_mainnet_rpc
local_mainnet_ws=local_mainnet_rpc
mongodb_uri=mongodb_uri
mongodb_engine_db=mongodb_engine_db
